# прогнозирование спроса на новые товары
### иса гадаев павел манякин георгий дудин при поддержке retro goldwyn mayer

In [1]:
import numpy as np
import pandas as pd
import math
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.model_selection as skr
import statsmodels.formula.api as sm
import statsmodels.api as sm2
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.graphics.regressionplots as smg
from sklearn.metrics import r2_score
from sklearn.metrics import silhouette_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from typing import List, Dict, Tuple

%matplotlib inline

sns.set()

In [2]:
test = pd.read_csv("hse-dab-naf-23/test.csv")
pd.set_option('display.max_columns', None)

test.head(10)

   product_id  location_id   period_dt     id
0       22939         1162  2019-12-30     16
1       23162         1162  2019-12-30   7867
2       23163         1162  2019-12-16   8667
3       23632          798  2019-12-23  14835
4       23633         1347  2019-12-30  14959
5       24007          764  2019-12-16  24820
6       32646          380  2019-12-16  35688
7       34846          866  2019-12-23  41293
8       34847          764  2019-12-16  41644
9       34847         1034  2019-12-30  41646